MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
EMAIL_USER=
EMAIL_PASSWORD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=dvzbgapue
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_SENDER=
JWT_SECRET=
PORT=5175
FRONTEND_URL=https://kmfi.netlify.app
API_URL=https://kmfi.onrender.com
CORS_ORIGIN=https://kmfi.netlify.app
NODE_ENV=development
DATABASE_URL=
PROD_DATABASE_URL=
